<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catálogo de Lenguaje de Señas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Catálogo de Señas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grid-container">
    <div class="card" *ngFor="let sign of signCatalog">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ sign.name }}</ion-card-title>
        </ion-card-header>
        <img [src]="sign.imageUrl" alt="Seña {{ sign.name }}" class="image" />
        <ion-card-header>
          <ion-card-title>Posición de la mano:</ion-card-title>
          <ion-label>{{ sign.tutorial }}</ion-label>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title>Detalles:</ion-card-title>
          <ion-label>{{ sign.detalles }}</ion-label>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
