<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Descripción del Proyecto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="descripcion">
        Esta aplicación está diseñada para aprender y practicar el lenguaje de señas, creada con el propósito de resolver un problema importante:
        las personas que no conocen el lenguaje de señas enfrentan dificultades para comunicarse de manera efectiva con la comunidad sorda,
        lo que limita la inclusión y la accesibilidad. La aplicación ofrece una herramienta educativa y de traducción en tiempo real para
        facilitar el aprendizaje del lenguaje de señas de manera accesible y práctica.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Integrantes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul id="integrantes">
        <li>Alex Benites</li>
        <li>Nehemias Lindao</li>
        <li>Sebastian Arguello</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
